git+https://github.com/prashantsahlot/FrozenGram.git
pytgcalls==3.0.0.dev24
yt-dlp==2024.12.23
aiohttp==3.10.11
flask==3.0.3
Flask-RESTful==0.3.10
tgcrypto==1.2.5
ffmpeg-python==0.2.0
isodate==0.7.2
pillow==10.4.0
psutil==6.1.0
requests==2.32.3
python-dotenv==1.0.1
asyncpg==0.30.0
pymongo==4.8.0
aiofiles==24.1.0
gender-guesser==0.4.0
motor==3.5.1
